autocorrect
beautifulsoup4
boto3
botocore
chardet
charset-normalizer
click
cryptography
Django
django-cors-headers
django-jsonfield
django-mysql-rds
django-storages
djangorestframework
lxml
mysql
mysql-connector-python
numpy
opencv-python
openpyxl
pandas
pdf2image
pdftotree
Pillow
protobuf
pybase64
pycountry
pycparser
pycryptodome
PyJWT
pyspellchecker
pytesseract
PyWavelets
pywin32
PyYAML
requests
rsa
scikit-image
scipy
SimpleParse
six
smart-open
spacy==3.6.1
spellchecker
sqlparse
tensorflow
tokenizers
torch
tqdm
transformers
Unidecode
zipp
